* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fff;
  // background: radial-gradient(circle, rgba(111,51,77,1) 0%, rgba(8,11,28,1) 100%);
  width: 100%;
  //  background-image: url("LoginAssets/fondo-body.jpg");
}
